<div class="contact">
	<span class="contact__name"><%= contact.fullName %></span>
	<span class="contact__email"><%= contact.email %></span>
	<span class="contact__phone"><%= contact.phone %></span>
</div>